node_modules/
.env


backend/node_modules
backend/.env

# Hardhat files
/backend/cache
/backend/artifacts

# TypeChain files
/backend/typechain
/backend/typechain-types

# solidity-coverage files
/backend/coverage
/backend/coverage.json

# Hardhat Ignition default folder for deployments against a local node
backend/ignition/deployments/chain-31337

# Ignore wallets
/storage/wallets.json
/storage/tokens.json
/storage/networks.json